<img class="bgone" src="assets/img/1.jpg" />
<img class="pic" src="assets/img/a.png" />

<div class="table">
  <div class="wel">人事管理系统登录</div>
  <div class="wel1">Personnel management system Login</div>
  <div class="user">
    <div class="yonghu" style=""><img src="assets/img/yhm.png" /></div>
    <input type="text" name="" #username value=""/>
  </div>
  <div class="password">
    <div class="yonghu"><img src="assets/img/mm.png" /></div>
    <input type="password" name="密码" #password value=""/>
  </div>
  <input class="btn" type="button" name="登录" value="登录" (click)="login(username.value,password.value)" />
</div>

